*{
    margin:0;
    padding:0 ;
}
body{
    background-color: black;
    color:#FF0040;
}
strong{
    color:#FF0040;
    
}
main{
    display:flex;
    padding: 0px 300px 0px 300px;

}
p{
  margin:40PX 0PX 50PX 0PX ;  
  font-size: 29px;
}
header, footer{
    height:150px;
}
.button1{
    background-color: #9F2689;
    width: 250px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
}
.button2{
    background-color: #9F2689;
    width: 350px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
}
a{
    font-size: 15px;
    text-decoration: none;

}